[modules]
log_file

pptp
l2tp

auth_mschap_v2
auth_mschap_v1
auth_chap_md5
auth_pap

chap-secrets

ippool

pppd_compat

[core]
log-error={{vpnservice.log_dir}}/core.log
thread-count=4

[common]

[ppp]
verbose=1
min-mtu=1280
mtu=1400
mru=1400
ipv4=require
ipv6=deny
ipv6-intf-id=0:0:0:1
ipv6-peer-intf-id=0:0:0:2
ipv6-accept-peer-intf-id=1
lcp-echo-interval=20
lcp-echo-timeout=120
unit-cache=1

[auth]

[pptp]
verbose=1

[pppoe]
verbose=1
called-sid=mac
interface=eth0

[l2tp]
verbose=1

[ipoe]
verbose=1
username=ifname
lease-time=600
max-lease-time=3600
shared=0
ifcfg=1
mode=L2
start=dhcpv4
interface=eth0

[dns]
dns1={{vpnservice.dnss[0]}}
dns2={{vpnservice.dnss[1]}}

[wins]

[radius]
nas-identifier=accel-ppp
nas-ip-address=127.0.0.1
gw-ip-address=192.168.100.1
server=127.0.0.1,testing123,auth-port=1812,acct-port=1813,req-limit=50,fail-timeout=0,max-fail=10,weight=1
dae-server=127.0.0.1:3799,testing123
verbose=1

[client-ip-range]
disable

[ip-pool]
gw-ip-address={{vpnservice.localip}}
attr=Framed-Pool
{{vpnservice.remoteip}}

[log]
log-file={{vpnservice.log_dir}}/accel-ppp.log
log-emerg={{vpnservice.log_dir}}/emerg.log
log-fail-file={{vpnservice.log_dir}}/auth-fail.log
copy=1
level=3

[log-pgsql]
conninfo=user=log
log-table=log

[pppd-compat]
ip-up=/etc/ppp/ip-up
ip-down=/etc/ppp/ip-down
ip-change=/etc/ppp/ip-change
radattr-prefix=/var/run/radattr
verbose=1

[chap-secrets]
gw-ip-address={{vpnservice.localip}}
chap-secrets={{vpnservice.secrets_file}}

[shaper]
up-limiter=police
down-limiter=tbf
verbose=1

[cli]
verbose=1
telnet=0.0.0.0:2000
tcp=0.0.0.0:2001

[snmp]
master=0
agent-name=accel-ppp

[connlimit]
limit=10/min
burst=3
timeout=60

[ipv6-pool]
fc00:0:1::/48,64
delegate=fc00:1::/36,48

[ipv6-dns]

[ipv6-dhcp]
verbose=1
pref-lifetime=604800
valid-lifetime=2592000
route-via-gw=1
